body,
html,
.screen p {
    color: gold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Galindo', sans-serif;
    color: white;
    background-color: black;
}

.screen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: opacity 0s;
}

.visible {
    display: flex !important;
    opacity: 1 !important;
}

.big-text {
    font-size: 50px;
}

.small-image {
    width: 50px;
    height: auto;
}

@keyframes roll {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(-100%);
    }
}

.credits {
    animation: roll 45s linear infinite;
}

/* Left-aligned text for the "Most Messages" section */
.left-aligned {
    text-align: left;
    font-size: 40px;
    color: gold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Small shadow effect */
}

/* Chatter table layout */
.chatter-table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.chatter-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.chatter-row p {
    font-size: 30px;
    color: gold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


/* Emote table layout */
.emote-table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.emote-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.emote-row p {
    font-size: 30px;
    color: gold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.small-image {
    width: 30px;
    height: auto;
    margin-right: 10px;
}
